<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
     th:replace="~{base :: Layout(~{::section})}">
	<head>
		<title></title>
	</head>
	<body>
     <section>
		<div class="container p-5">
			<p class="text-center fs-3 mt-4">Admin Dashboard</p>
			<div class="row p-5"> 
				<div class="col-md-4 mt-2">
					<a href="/admin/loadAddProduct" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-primary">
							<i class="fa-solid fa-plus fa-3x text-primary"></i>
							 <h4 >Add Product</h4>
						</div>
					</div>
					</a>
				</div>
				
				<div class="col-md-4 mt-2">
					<a href="/admin/category" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-primary">
							
							<i class="fa-solid fa-table-list fa-3x text-warning"></i>
							 <h4 >Add Categeory</h4>
						</div>
					</div>
					</a>
				</div>
				
				
				<div class="col-md-4 mt-2">
					<a href="#" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-primary">
							<i class="fa-brands fa-product-hunt fa-3x text-success"></i>
							 <h4 >View Product</h4>
						</div>
					</div>
					</a>
				</div>				

				
				<div class="col-md-4 mt-4">
					<a href="#" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-primary">
							<i class="fa-solid fa-bookmark fa-3x text-warning	"></i>
							 <h4 >Orders </h4>
						</div>
					</div>
					</a>
				</div>
				
				<div class="col-md-4 mt-4">
					<a href="#" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-primary">
							<i class="fa-solid fa-circle-user fa-3x text-primary"></i>
							 <h4 >Users</h4>
						</div>
					</div>
					</a>
				</div>

				<div class="col-md-4 mt-4">
					<a href="#" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-primary">
							<i class="fa-solid fa-plus fa-3x text-primary"></i>
							 <h4 > Add Admin</h4>
						</div>
					</div>
					</a>
				</div>					
				
			</div>
		</div>
		
	 </section>
	</body>
</html>